body {
	margin: 40px 10px;
	padding: 0;
	padding-top: 70px;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	font-size: 14px;
}

#calendar {
	max-width: 900px;
	margin: 0 auto;
}

.form-control-wrapper 
{
	margin: 10px 20px;
}

div.day {
    width:500px;
    margin: auto;
    border: 3px solid #73AD21;
}

@media(max-width: 300px)
{
	.well { margin : 0}
}
